.Contact1
{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/seva-44894.appspot.com/o/background%20images%2Fback.jpg?alt=media&token=5a50c957-3d7d-424f-bfb2-3381e522390f");
    width: 100%;
    height: 633px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    image-resolution: 300dpi;
}

.Info
{
    font-size: 35px;
    color: white;
}

.Contact-Mobile
{
    height: 92vh;
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/seva-44894.appspot.com/o/background%20images%2Fback.jpg?alt=media&token=5a50c957-3d7d-424f-bfb2-3381e522390f");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    image-resolution: 300dpi;
    color: white;
}

.Coming
{
    margin-top: 33vh;
}

.seva-logo
{
    height: 120px;

}

@media screen and (max-width:768px) {
    .Contact1
    {
        display: none;
    }
}