.App {
  text-align: center;

}


.navbar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo {
  margin-top: 20px;
  height: 60px;
}

.FirmName {
  color: rgba(13, 104, 194, 255);
  display: flex;
}

.Name {
  font-size: 25px;
  width: 50px;
  margin-left: 25px;
}

.Home {
  color: white;
  margin-left: 230px;
  font-size: 20px;
  background-color: transparent;
  transition: 0.7s;
  border: none;
} 

.Home:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  transition: 0.7s;
  color: rgba(13, 104, 194, 255);
}

.About {
  color: white;
  margin-left: 50px;
  font-size: 20px;
  background-color: transparent;
  transition: 0.7s;
  border: none;
}

.About:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  transition: 0.7s;
  color: rgba(13, 104, 194, 255);
}

.Contact {
  color: white;
  margin-left: 50px;
  font-size: 20px;
  background-color: transparent;
  transition: 0.7s;
  border: none;
}

.Contact:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  transition: 0.7s;
  color: rgba(13, 104, 194, 255);
}

.Portal {
  color: white;
  margin-left: 30px;
  font-size: 20px;
  width: 200px;
  background-color: transparent;
  transition: 0.7s;
  border: none;
}

.Portal:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  transition: 0.7s;
  color: rgba(13, 104, 194, 255);
}

.social {
  margin-left: 9px;
  display: flex;
  width: 300px;
  background-color: black;
  justify-content: space-around;
}

#instagram {

  margin-top: 10px;
  color: rgba(13, 104, 194, 255);
}

#linkedin {
  margin-top: 10px;

  color: rgba(13, 104, 194, 255);
}

#twitter {
  margin-top: 10px;

  color: rgba(13, 104, 194, 255);
  margin-right: 25px;
}

.search {
  height: 25px;
  /* background-color: rgba(72,133,189,255); */
  background-color: transparent;
  border: black;
  margin-top: 27px;
  width: 150px;
  font-weight: bold;
  color: white;
}

.search-support {

  margin-left: 40px;
  width: 250px;
  display: flex;
  border: black;
}

#icon {
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-Firmname {
  background-color: black;
  width: 120px;
  cursor: pointer;
  height: 70px;
}

.nav1 {
  width: 100%;
  background-color: black;
  height: 50px;
  display: flex;
}

.mobile-view {
  /* background-color: black; */
  
  width: 30%;
  height: 100%;
}

.bars {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.Close {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 92vh;
  z-index: 2;
  left: -100%;
  position: fixed;
  transition: 0.3s all ease-in-out;
}

.sidebar.active {
  position: fixed;
  left: 0%;
  z-index: 2;
  transition: 0.3s all ease-in-out;
}

.Sidebar-link {
  display: flex;
  flex-direction: column;
}

.Home-sidebar {
  background-color: transparent;
  border: none;
  color: white;
  height: 3rem;
  width: 100%;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
}

.About-sidebar {
  height: 3rem;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
}

.Contact-sidebar {
  height: 3rem;
  background-color: black;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
}

.Portal-sidebar {
  width: 100%;
  height: 3rem;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
}

.social-sidebar {
  background-color: black;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

#instagram1 {
  color: rgba(13, 104, 194, 255);
}

#linkedin1 {
  color: rgba(13, 104, 194, 255);
}

#twitter1 {
  color: rgba(13, 104, 194, 255);
}

#instagram1:hover {
  background-color: yellow;
  transition: 0.7s;
}

#linkedin1:hover {
  background-color: yellow;
  transition: 0.7s;
}

#twitter1:hover {
  background-color: yellow;
  transition: 0.7s;
}

@media screen and (768px<= width <=1600px) {
  .bars {
    display: none;
  }

  .nav1 {
    display: none;
  }

}

@media screen and (width<=768px) {

  .navbar {
    display: none;
  }

  .nav-main {
    display: contents;
  }

}

/* @media screen and (max-width:768px) {
  .navbar {
    display: none;
  }
  .nav1
  {
    display: contents;
  }
} */